!*.exe
!*.dll
!*.lib
*.jpg
*.h264
RPI/2MPGlobalShuterDemo
RPI/arducamstill
RPI/capture
RPI/capture-dualcam
RPI/capture2opencv
RPI/capture_raw
RPI/list_format
RPI/opencvGui
RPI/ov9281_external_trigger
RPI/preview-camera0
RPI/preview-dualcam
RPI/qrcode_detection
RPI/raw_callback
RPI/read_write_sensor_reg
RPI/video
RPI/video2stdout
RPI/video4cameras
RPI/yuv_callback
RPI/pipebots_stream
